<ion-view class="content-view" ng-init="initContentPage();">
	<ion-content scroll="false">
		<ion-slide-box class="content-slider-box" on-touch="slideBoxSwipe($index)" on-slide-changed="slideHasChanged($index);" show-pager="{{showMainSliderPager}}" delegate-handle="mainSlider" active-slide="sliderIndex" pager-click="sliderIndex = index">
			<ion-slide ng-repeat="(key, contentObj) in content" repeat-done>
				<div class="container-fluid content-container">
					<div class="row content-head">
						<div class="col-md-12 no-spaces">
							<h3 class="content-title">{{contentObj.title | length:90}}</h3> 
						</div>	
					</div>
					<div class="row content-sub-header">
						<div class="col-md-12 no-spaces">
							<span class="content-sub-title " >{{contentObj.sub_title}}</span>
						</div>			
					</div>
					<div class="row" ng-class="containerFullScreenHandler(contentObj.cols.length)">
						<div ng-init="length = setColumnClass({length:contentObj.cols.length,index:$index});imageType = col.type == 'img'" class="content-cols {{length}}" on-finish-render ng-repeat="col in contentObj.cols" ng-class="{'content-image':imageType && contentObj.cols.length == 1}">	
							<!-- text block -->
							<div id="col-0" class="content-col content-col-0" ng-if="col.type == 'text_block'">
								<div on-scroll-end on-bottom="onBottom();" on-top="onTop();" class="text-container">
									<div id="text-container" get-height>
										<div class="heading" ng-bind-html="col.heading"></div>
										<div class="text" ng-bind-html="col.txt"></div>
									</div>
								</div>
								<span ng-show="showBottomArrow" class="glyphicon glyphicon-menu-down text-arrow-down" ng-class="{'text-arrow-down-win':windows}"></span>
							</div>
							<!-- gallery type -->
							<ion-slide-box show-pager="{{showPager}}" class="gallery-slide-box" delegate-handler="gallerySlider" ng-if="col.type == 'gallery'" on-touch="onGallerySwipe($event,$index)" active-slide="galleryIndex" pager-click="galleryIndex = index">
								<ion-slide class="gallery" on-finish-render ng-repeat="imgObj in col.gallery_imgs" >
									<img ng-click="openGalleryModal($index);" ng-src="{{imgObj.image}}" class="full-wh">
								</ion-slide>
							</ion-slide-box>
							<!-- image type -->
							<img ng-click="openGalleryModal($index);" ng-src="{{col.img}}" ng-class="imageHeightHandler(contentObj.cols.length)" ng-if="col.type == 'img'" class="full-w">
						</div>
					</div>
					<div ng-class="BtnsFullScreenHandler(contentObj.cols.length)">
						<div class="page-buttons content-buttons" ng-class="pageButtonsHandler(contentObj.cols.length);">
							<!---->
							<div class="search-button show-pointer" ng-show="contentObj.videos.length > 0" ng-click="openVideoModal(contentObj.videos);clickOnPlayBtn()" ng-class="{'clickable-obj':playBtn}" ng-class="videoBtnHandler(contentObj.cols.length)"  >
								<div>
									<i class="fa fa-play filter-button-icon" aria-hidden="true"></i>
									<span>VIDEO</span>
								</div>
							</div>
<!-- 							<div class="search-button" ng-show="contentObj.documents.length > 0" ng-click="openDocumentModal(contentObj.documents);clickOnDocBtn()" ng-class="{'clickable-obj':docBtn}">
								<div class="document-btn show-pointer">
									<i class="fa fa-file filter-button-icon" aria-hidden="true"></i>
									<span>DOCUMENT</span>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
		<div class="bottom-menu">
			<ion-scroll direction="x" class="bottom-menu" has-bouncing="true">
				<div class="bottom-menu-item" ng-class="{'odd-bg-color':$odd,'menu-button-active':selectedPageId == page.id}" ng-repeat="(key, page) in pageList" ng-click="setSelectedBottomItem(page.id);">
					{{page.title | length:90}}
				</div>
			</ion-scroll>
		</div>
	</ion-content>
</ion-view>