<ion-content scroll="false">
    <div class="header center-content">
        <img class="title-icon" src="img/logo-magna.png">
        <div class="settings right">
            <i class="icon ion-gear-b icon-xx-large"></i>
        </div>
    </div>
    <div class="list center-content">
        <ion-scroll class="list-scroller" has-bouncing="false">
            <div class="list-item" ng-repeat="item in list track by $index" 
               ng-click="onItemClick($event, item.id)">
                <span class="list-item-title menu-list-font left">{{item.title | length:30 }}</span>
                <i class="list-item-icon icon ion-ios-arrow-forward menu-list-font right"></i>
            </div>
        </ion-scroll>
    </div>
</ion-content>