<ion-slides slider="data.slider" options="options" class="gallery-slide-box">
	<ion-slide-page ng-click="fillPage($event)" class="gallery-modal" on-finish-render ng-repeat="img in dataSource">
		<img  ng-src="{{img.image}}">
	</ion-slide-page>
</ion-slides>