<div class="modal video-container" ng-init="showClose=true" ng-click="closeModal()">
	<img id="close-icon" src="img/close-icon.png">

	<div id="videoPlayer-container" ng-show="showVideo" ng-click="stopPropagation($event)">
		<div class="grey-bar">
				<a class="Done" ng-click="closeVideo($event)" translate>DONE</a>
		</div>
		<div class="videogular-container">
			<videogular vg-theme="config.theme" vg-auto-play="config.autoPlay" ng-show="showVideo" vg-player-ready="onPlayerReady($API)">
				<vg-media vg-src="config.sources" vg-tracks="config.tracks">
				</vg-media>
				<vg-controls>
					<vg-play-pause-button></vg-play-pause-button>
					<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
					<vg-scrub-bar class="scrub-custome">
						<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
					</vg-scrub-bar>
					<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
					<vg-volume>
						<vg-mute-button></vg-mute-button>
						<vg-volume-bar></vg-volume-bar>
					</vg-volume>
				</vg-controls>

				<vg-overlay-play></vg-overlay-play>
				<vg-poster vg-url='config.plugins.poster'></vg-poster>
			</videogular>
		</div>
	</div>

	<div ng-show="!showVideo" class="gridContainer">
		<div class="gridItem" ng-repeat="videoObj in videosLinks track by $index">
			<div video="videoObj" ng-click="previewVideo($event, videoObj.src, true, true)" class="full-wh">
				<img ng-src="{{videoObj.thumb}}" class="full-wh">
				<p>{{videoObj.title}}</p>
			</div>
		</div>
	</div>
</div>