.content-slider-box {
    height: 92%;
}

.content-container {
    height: 85%;
    /*margin:2% 2%;*/
    margin: 4% 0 2% 2%;
    padding-right: 0;
}

.content-body {
    margin-top: 5%!important;
    height: 100%;
}

.content-text {
    height: 73%;
    background-color: gray;
    color: black;
}

.content-image {
    width: 103.2%;
    margin-left: -3.22%;
    padding: 0;
}

.content-video {
    height: 73%;
}

.document-btn {
    width: 100%;
}

.content-title {
    font-weight: bolder;
    font-size: x-large;
    color: #fd2415;
}

.content-sub-title {
    color: #fd2415;
}

.content-col {
    height: 100%;
    width: 100%;
}

.content-col div {
    padding: 2%;
}

.content-col-0 {
    position: relative;
    text-align: center;
    background: #f1f1f1;
}

.content-col-0 .text-container {
    height: 100%;
    padding-left: 4%;
    overflow-x: scroll;
}

.col-1 {
    padding-right: 1.5%!important;
}

.text-container {
    text-align: left;
}

.text-arrow-up {
    color: #0082b5;
}

.text-arrow-down {
    top: 97%;
    color: #fd2415;
    margin-top: 1%;
}

.text-arrow-down-win {
    top: 0!important;
    color: #0082b5;
    margin-top: 0!important;
}

.text-content .scroll {
    width: 100%;
    height: 100%;
}

.text-container .heading {
    color: #fd2415;
}

.content-col-1 img {
    width: 100%;
}

.full-page-width {
    width: 100%;
}

.slider-pager-page .ion-record {
    display: none!important;
}

.slider-pager-page {
    width: 12px!important;
    height: 12px!important;
    border: 1px solid #fd2415;
    border-radius: 50%;
    cursor: pointer;
}

.slider-pager .slider-pager-page {
    color: #fd2415!important;
    background-color: #fd2415;
    opacity: 1;
}

.slider-pager-page.active {
    width: 14px!important;
    height: 14px!important;
    color: white!important;
    background-color: white;
    cursor: default;
}

.slider-pager {
    height: 0%;
    width: 100%;
    bottom: 10%;
}

.content-gradiant-effect {
    position: absolute;
    bottom: 2%;
    height: 12%;
    background: linear-gradient(#ffffff 20%, #f0f0f0 80%);
    width: 100%;
}

.content-container .row {
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}


/* gallery directive */

#gallery {
    height: 75%;
    /* width: 93%; */
}

.slick-list {
    height: 100%;
}

.slick-dots li button:before {
    font-size: 14px;
}

.slick-dots li.slick-active button:before {
    color: #0082b5;
}

.slide-body {
    height: 66%;
    margin: 5% auto auto auto!important;
    padding: 0;
}

.slide-body-fullScreen {
    height: 83%;
    margin: 3% 0!important;
    padding: 0;
    display: block;
}

.gallery-modal-main {
    height: 100%;
    width: 100%;
}

.gallery-modal-main-fullscreen {
    padding: 0px!important;
}

.gallery-modal-main-fullscreen .ngdialog-content .ngdialog-close {
    right: 45px!important;
    top: 47px!important;
    z-index: 97!important;
}

.ngdialog-close-full {
    right: 4%!important;
    top: 6%!important;
}

.slick-track-full {
    width: 100%;
}

.ngdialog-content .slick-slider {
    height: 100%;
    width: 100%;
}

.gallery-modal {
    width: 100%;
    height: 100%;
}

.gallery-modal img {
    height: 100%;
    width: 100%;
}

.slick-track {
    height: 100%;
}

.gallery-slide-box .slider-pager {
    background: transparent;
    bottom: 5%;
    ;
}

.gallery-slide-box {
    height: 100%;
}

.full-screen-dialog {
    padding: 0px!important;
}

.hide-dialog {
    display: none!important;
}

.show-dialog {
    display: block!important;
}

.swiper-pagination-bullet {
    width: 13px;
    height: 11px;
    background-color: #0082b5;
}

.menu-icon-color {
    color: #595858;
    font-size: 20px;
    padding: 0 9px 0 8px;
}

.active-icon {
    color: #0082b5;
}

.content-head {
    padding-bottom: 0;
}

.no-spaces {
    margin: 0;
    padding: 0;
}

.text-medium {
    font-size: 18px;
}


/*.gallery.slider-slide {
	height: 91%;
}*/

.full-height {
    height: 100%;
}

.two-col-page-height {
    height: 100%!important;
    padding-left: .01%;
    padding-right: .01%
}

.full-image-height {
    height: 66vh!important;
    width: 100%;
}

.row {
    padding: 0px;
}

.hide-arrow + .text-arrow-down {
    display: none;
}

.buttons-container {
    width: 100%;
    position: relative;
    margin-top: 1.7%;
}

.buttons-container-fullscreen {
    position: absolute;
    bottom: 19%;
    width: 100%;
    margin-top: 1.7%;
}

.page-buttons.content-buttons {
    bottom: 0!important;
}

.page-buttons-left {
    right: 28.5%!important;
}

.content-buttons div:first-child {
    margin-right: 25px;
}

.page-buttons.content-buttons {
    bottom: 0!important;
}

.content-buttons {
    position: relative!important;
    right: 0!important;
    text-align: left!important;
}

.search-button {
    background-color: white;
    border: solid 2px gray;
    display: inline-block;
    color: gray;
    width: 162px;
    height: 47px;
    border: solid 1px;
    vertical-align: top;
    text-align: center!important;
}

.search-button div {
    margin: 8% auto;
}

.button-align-right {
    float: right;
    margin-right: 5%!important;
}


/*bottom menu*/

.bottom-menu {
    height: 100%;
    width: 100%;
    display: inline-block;
    background: #a0a1a1;
    color: white;
}

.bottom-menu .scroll {
    height: 100%;
}

.bottom-menu-item {
    text-align: center;
    display: inline-block;
    line-height: 50px;
    height: 8%;
    width: 25%;
    border: solid 1px gray;
}

.odd-bg-color {
    background-color:#bbbcbd;

}

.menu-button-active {
    border: 2px solid #fd2415;
    color: #fd2415;
}
