/*main page*/
.settings{
    position: absolute;
    display: inline-block;
    top: 8%;
    right: 8%;
}
.icon-xx-large{
    font-size: 208%;
}
.list{
    height: 100%;
    width: 100%;
    padding-top: 6%;
}
.list-item{
    width: 100%;
    height: 65px;
    margin: .4% auto;
    background: red; 
}
.list-item-title{
    margin: auto 3%;
    line-height: 200%;
}
.list-item-icon{
    margin: auto 3%;
    line-height: 200%;
}
.list-scroller{
    margin:0 auto;
    padding: 0 1%;
    height: 100%;
    max-height: 70%;
    width:60%;
}
.list-scroller .scroll{
    height: 100%;
}
.active-item{
    background: #d61717;
}