/*for ipad*/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	.gallery img{
  	 	height: 55vh;
	}
	.content-image{
		margin-left: -3.4%;
	}
	.content-cols{
		height: 100%;
	}
	.page-buttons-left {
    	right: 20.5%!important;
	}
	.page-buttons {
		bottom: 16%!important;
		right: 8%;
	}
	.content-buttons.col-md-offset-2{
		margin-left: 25.5%;
	}
	.content-buttons.col-md-offset-7{
		margin-left: 50%;
	}
}

