.header{
    display: inline-block;
    width: 100%;
    margin-top: 6%;
    position: relative;
}
.center-content{
    text-align: center;
}
.title-icon{
    display: inline-block;
    width:70px;
    width:150px;
}
.right{
    float:right;
}
.left{
    float: left;
}
.menu-list-font{
    font-size: xx-large;
    color: white;
}
