/*///////////////video Modal////////////////////////////*/
.video-container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: transparent; }

#close-icon {
  height: 30px;
  position: absolute;
  right: 7%;
  top: 14%; }

.scrub-custome {
  width: 70% !important; }

.grey-bar {
  background-color: #eaeaea;
  width: 100%;
  height: 45px;
  top: 0%;
  position: absolute;
  margin-top: 0px;
  z-index: 100;
  cursor: pointer;
  display: block;
  line-height: 65px; }

.Done {
  margin-left: 7px;
  color: black;
  font-size: 20px; }

.Done:hover {
  color: black; }

/*################################################################*/
.videogular-container {
  margin-top: 45px;
  height: 95% !important;
  width: 100% !important;
  position: absolute; }

video {
  height: 100% !important;
  width: 100% !important; }

.gridContainer {
  height: 80% !important;
  width: 92% !important;
  position: absolute;
  top: 19%;
  left: 5%; }

.gridItem {
  width: 30%;
  height: 30%;
  display: inline-block;
  margin: 1%;
  color: #fff; }

/*ovrride bootstrap css*/
.modal {
  display: block; }

.modal-backdrop {
  background-color: transparent; }
